* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
}

ul, ol, menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}